<html>
  <head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">




 
  <title>Don't Break the Bank: A Mom's Trick to a Wrinkle Free Face - News 5</title> 
   
  <meta name="robots" content="noindex,nofollow,noarchive,noodp,noydir"> 
  <meta name="googlebot" content="noindex,nofollow"> 
   



<link rel="stylesheet" type="text/css" href="css/style002.css" media="all">

<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">

<script language='javascript' type='text/javascript'> 
        var areYouReallySure = false;
        var internalLink = false;
        function areYouSure() {
               if (!areYouReallySure && !internalLink) {
              window.onbeforeunload = null;
          location.href='/exit/{{v.id}}'
      return '*****************************************************\n\nCONGRATULATIONS! You are our 1000th visitor of the day!\n\nWe are authorized to ship you FREE samples of Radia Labs and RadiaLabs to try for yourself.\n\nTo claim your free products CLICK CANCEL.\n\nClick cancel to Get Your FREE wrinkle combo!\n\n*****************************************************';
}

        }
        window.onbeforeunload = areYouSure;
</script>
 </head>
  
  
  <body>
    This is the acai1.html template <br>
in folder female-diet

<br>
Campaign: {{campaign}}
<br>
Offer1: {{link.1}} {{name.1}}<br>
<a href = "{{link.1}}/linkktag" target = "_blank">{{name.1}}</a>
<br>
<a href = "{{link.2}}/linkktag2" target = "_blank">{{name.2}}</a>
<br>

{{name.1}} and {{link.1}}
<br>
{{name.2}} and {{link.2}}
<br>


    
  </body>
</html>


