This is the exit page
I know the visitor id:
I know the category:
I know the site id:
I know the offerset id:
I know offer1, offer2:
If they click on offer 1 or offer 2, I will mark that in the table for each offer.
I will also append an '-ex' to the tracking id so we're sure the sale was from the exit page


<br>
Campaign: {{campaign}}
<br>
Offer1: {{link.1}} {{name.1}}<br>
<a href = "{{link.1}}/linkktag" target = "_blank">{{name.1}}</a>
<br>
<a href = "{{link.2}}/linkktag2" target = "_blank">{{name.2}}</a>
<br>